.InternList {
display: flex;
}

.InternList ul{
     display: flex;
    flex-wrap: wrap;

}

.InternList-li {
    margin: 10px;
    padding:  10px;
    min-width: 400px;
    min-height: 200px;

}
.list-group-item:last-child {
    margin-bottom: 10px;
}

.inserttask {
    width: 500px;
    display: flex;
    margin: 0 auto;
}